header { 
    display: grid; 
    grid-template-columns: 1fr 2fr .5fr;
    align-items: center; 
    justify-content: space-around;
}

#logout-button{
    width: 50%;
    align-self: center;
}

header nav {
    display: flex; 
    gap: 1em; 
    list-style: none; 
    margin: 0; 
    padding: 0;
}

header nav a {
    color: black;
    text-decoration: none;
}

header nav a:hover {
    color: gray;
    text-decoration: underline;
}
