  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
  </head>
  <body>
    <header>
        <a href="/"><img src="{{ url_for('static', path='images/LOGO.png') }}" style="height: 120px; width: auto;" alt="Fleet Manager Logo">
        <nav></a>
            <a href="/equipment"><h3>Equipment</h3></a>
            <a href="#"><h3>Work Orders</h3></a>
            <a href="#"><h3>Maintenance</h3></a>
            <a href="#"><h3>Reports</h3></a>
        </nav>
        <button id="logout-button">Logout</button>
    </header>

    <main>
        {% block content %}
        
        {% endblock content %}
    </main>

    <footer>
        <p>&copy Riley Beck</p>
    </footer>
  </body>
  </html>