{% extends "layout.jinja2"%}

{% block page_css%}
<link rel="stylesheet" href="{{ url_for('static', path='css/home.css')}}">
{% endblock page_css%}


{% block content %}

<div id="workorder-box">

</div>

<div id="maintenance-box">

</div>

<div id="equipment-box">
    
</div>

{% endblock content %}