{% extends "layout.jinja2" %}

{% block content %}

    <h1>Workorder Detail Page</h1>

    <h2>{{ equipment.name }}</h2>
    <h3>{{ workorder.title }}: {{workorder.info}}</h3> 
    <h4>Status: {{ workorder.severity }}</h4>

    <form action="/workorders/{{ workorder.id }}/resolve" method="post"> 
        <button type="submit">Resolve</button>
    </form>
    
    <button>Edit</button>
{% endblock content%}